<div class="container">
    <div class="page-header-row">
        <a routerLink="/home">
            <mat-icon>arrow_back_ios</mat-icon>
            <span>Back</span>
        </a>
        <h1>Settings</h1>
    </div>
    
    <p>
        Settings works!
    </p>
</div>