@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/css/bootstrap/bootstrap-grid-system.min.css";

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
}

.fill-remaining-space {
    flex: 1 1 auto;
}

/*
    <Back> button
*/
.page-header-row a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 200px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #3f51b5;
}

/*
    rounded and colored background for text
*/
.custom-text-grey-round-container {
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

/*
    Styling icons in material design
    http://google.github.io/material-design-icons/#icon-font-for-the-web
*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
    Overrides
*/
.mat-button {
    min-width: auto !important;
    overflow: hidden;
}
.mat-divider {
    margin: 10px 0 !important;
}